# Source
src/
tests/
examples/

# Config files
.gitignore
.prettier*
.eslint*
tsconfig.json
vite.config.ts
vitest.config.ts

# Dev files
node_modules/
coverage/
.vscode/
.idea/

# Misc
*.log
.DS_Store
.env*
*.tgz